[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v7.x-binary
	ignore = dirty
[submodule "include/flanterm"]
	path = include/flanterm
	url = https://github.com/mintsuki/flanterm.git
